name: appcenter_sdk_flutter
description: Development plugin for the App Center Analytics and Crashes for Flutter
version: 0.4.1
repository: https://github.com/lsaudon/appcenter_sdk_flutter

environment:
  sdk: ">=2.18.0 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  meta: ^1.8.0
  plugin_platform_interface: ^2.1.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  mocktail: ^0.3.0
  pigeon: ^7.1.1

flutter:
  plugin:
    platforms:
      android:
        package: fr.lsaudon.appcenter_sdk_flutter
        pluginClass: AppCenterSdkFlutterPlugin
      ios:
        pluginClass: AppCenterSdkFlutterPlugin
